@{
    ViewData["Title"] = "Demo Form";
}

<div class="text-center">
    <h1 class="display-4">Bienvenue sur le site d'inscription de Technifutur (❁´◡`❁)</h1>
    
    <h2>Nombre d'inscription : @ViewData["NbInscrit"]</h2>

</div>
